//
// about.scss
//

.about-tab-section {
    .about-tab {
        // Menu
        .about-tab-pills{ // ui
            background-color: #e8bf9659 !important;
            gap: 10px;
            display: flex;
            height: 60px;
            max-width: 860px;
            margin: 0 auto;
            border-radius: 30px;
            .custom-nav-item {
                flex-basis: 0;
                flex-grow: 1;
                max-width: 100%;
                text-align: center;
                .nav-link {
                    display: inline-block;
                    padding: 18px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.5;
                    color: $dark;
                    border-radius: 100px;
                    width: 100%;
                    position: relative;
                    text-transform: capitalize;
                    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
                    overflow: hidden;
                    display: block;
                    &.active {
                        color: $dark;
                        background-color: #e8bf96;
                    }
                }
            }
        }
        // Content
        .about-tab-content {
            .about-data li{
                padding-left: 0px;
                margin-left: 0px;
                display: grid;
                font-weight: 400;
                font-size: 15px;
                line-height: 1.6;
                padding-bottom: 5px;
                grid-template-columns: 130px 40px auto;
                @media (max-width: 320px) {
                    grid-template-columns: 100px 40px auto;
                }
            }
        }

        // 
        .experience-item {
            border-radius: 15px;
            padding: 30px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            .expe-year-section i{
                color: #e8bf96;
            }
            .expe-year {
                font-size: 14px !important;
                color: #e8bf96;
                font-weight: 400 !important;
            }
            .expe-company {
                font-size: 14px !important;
                text-transform: capitalize;
                margin-bottom: 20px;
                color: $muted;
                font-weight: 400 !important;
            }
            .expe-title {
                font-size: 22px !important;
            }
        }
        // 
        .skill-area {
            background-color: #262629;
            padding: 74px 30px 74px;
            border-radius: 150px;
            margin: 0px 20px;
            &:hover .skill-img{
                filter: grayscale(0);
            }
            .skill-img {
                filter: grayscale(1);
                transition: 0.5s;
                text-align: center !important;
                margin-bottom: 32px;
            }
            .skill-percentage{
                color: $white;
                font-weight: 500 !important;
                line-height: 1.1;
                font-size: 30px !important;
                text-transform: capitalize;
                text-align: center;
            }
            .skill-pare {
                font-weight: 500;
                font-size: 14px;
                text-transform: capitalize !important;
                line-height: 1.8;
                text-align: center;
                color: #ddd;
            }
        }
    }
}

