// 
// Blog Section 
// 
.blog-section {
    .blog-box {
        .blog-images {
            width: 100%;
        }
        .blog-content {
            .blog-title a{
                font-size: 21px !important;
                line-height: 1.8;
                font-weight: 500 !important;
                color: $dark;
            }
            .read-link a{
                font-size: 14px !important;
                text-decoration: underline !important;
                transition: all 1s;
                font-weight: 300 !important;
                &:hover {
                    color: $primary !important;
                    transition: all 1s;
                }
            }
        }
    }
}

// Blog Page
.blog-card {
    box-shadow: $shadow;
    .blog-content {
        padding: 16px;
        .blog-title a{
            font-size: 21px !important;
            line-height: 1.8;
            font-weight: 500 !important;
            color: $dark;
        }
        .read-link a{
            font-size: 14px !important;
            text-decoration: underline !important;
            transition: all 1s;
            font-weight: 300 !important;
            &:hover {
                color: $primary !important;
                transition: all 1s;
            }
        }
    }
}

//Sidebar
.sidebar {
    .widget {        
        .blog-list {
            li {
                padding: 10px 20px;
                background-color: $gray-100;
                margin-bottom: 7px;
                border-radius: 30px;
                color: $dark;
                a, span {
                    font-size: 15px;
                }
                a {
                    color: $dark;
                    transition: all 0.5s ease;
                    &:hover {
                        color: $primary;
                    }
                }
            }
        }      
        .post-recent {
            padding-bottom: 15px;
            &:last-child {
                padding-bottom: 0;
            }
            .post-recent-thumb {
                width: 25%;
            }
            
            .post-recent-content {
                width: 75%;
                padding-left: 10px;
                a {
                    display: block;
                    color: $dark;
                    font-size: 15px;
                    transition: all 0.5s ease;
                    margin-top: 10px;
                    &:hover {
                        color: $primary;
                    }
                }
                span {
                    font-size: 12px;
                    padding: 5px 15px;
                    border-radius: 30px;
                    background: rgba(0, 0, 0, 0.03);
                }
            }
        }
        .tagcloud {
            > a {
                color: $dark;
                display: inline-block;
                font-size: 13px;
                font-weight: 400;
                padding: 8px 15px;
                border-radius: 5px;
                background: $gray-100;
                margin: 5px 10px 5px 0;
                transition: all .4s;
                &:hover {
                    background: $primary;
                    color: $white;
                }
            }
        }
    }
}