// 
//  Footer Section
// 


.footer-section {
    background-color: #1a1a1a;
    .footer-title {
        font-weight: 500 !important;
        font-size: 21 !important;
        line-height:  1.8;
        color: $white;
    }
    .footer-text-style{
        line-height: 1.8;
        font-size: 15px !important;
        font-weight: 300 !important;
        color: #dddddd;
        margin: 0;
    }
    .footer-subtitle h5 a {
        line-height: 1.8;
        font-size: 20px !important;
        font-weight: 500 !important;
        color: $primary;
        margin: 0;
    }
    .social-text {
        padding-left: 0px;
        li a{
            font-size: 13px;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: $white !important;
            transition: all 1s;
            &:hover {
                color: $primary !important;
                transition: all 1s;
            }
        }
    }
    .subscribe {
        .form-group {
            position: relative;
            .form-control{
                color: $white !important;
                background-color: #484848;
                border: 1px solid #484848;
                display: flex;
                flex-wrap: wrap;
                font-size: 13px;
                line-height: 20px;
                text-align: left;
                padding: 10px 30px 10px 20px;
                transition: all 1s;
                &:focus{
                    box-shadow: none !important;
                    border: 1px solid $primary;
                }
                &::placeholder {
                    color: $white;
                }
            }
        }
        button {
            color: $white;
            padding: 6px 10px;
            position: absolute;
            border-radius: 3px;
            top: 6px;
            right: 6px;
            background: $primary;
            border: 0;
        }
    }
    .footer-bar {
        border-top: 1px solid rgba(255, 255, 255, 0.05);
        .logo a{
            max-width: 120px;
        }
        .copyright p{
            color: $gray-500;
            font-size: 14px !important;
            font-weight: 300;
        }

    }
}