// 
// Testimonials
// 

.testimonials-slider {
    .testimonials { 
        max-width: 630px;
        margin: 0 auto;
        text-align: center;
        @media (max-width: 576px) {
            max-width: 250px;
        }
        .testimonial-slide {
            p{
                font-style: italic;
                font-weight: 400;
                font-size: 22px !important;
                line-height: 1.5;
                text-align: center;
                color: $dark;
                margin-bottom: 0px;
                padding-top: 50px;
                padding-bottom: 50px;
                @media (max-width: 768px) {
                    font-size: 18px !important;
                }

            }
            .client-name {
                font-weight: 500 !important;
                font-size: 18px !important;
                line-height: 1.8;
                color: $dark;
                margin-bottom: 0px;
                padding-bottom: 3px;
                text-transform: capitalize;
            }
            .client-role {
                font-weight: 300 !important;
                font-size: 15px !important;
                line-height: 2;
                color: $muted;
            }
        }
        img {
            height: 100%;
            width: 60px;
            max-width: 100%;
        }
    }
    .btn-swiper {
        font-size: 20px;
        color: $gray-500;
        position: absolute;
        width: 60px;
        height: 60px;
        top: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transform: translateY(-50%);
        border: 1px solid $gray-200;
        transition: all 0.3s;
        &:hover {
            background-color: $primary;
            border: 1px solid $primary;
            color: $dark;
        }
    }
    .slider-next {
        inset-inline-end: 0;
    }
    .slider-prev {
        inset-inline-start: 0;
    }
}
